.background-image {
    position: fixed; /* Fixa a posição da div na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../Imagens/Inicio/fundo-branco-com-folhas-verdes-isoladas-nos-cantos-e-espaco-de-copia-no-meio_373887-273.jpg); /* Insira o caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir todo o espaço da div */
    opacity: 1 ; /* Define a opacidade da imagem (valor entre 0 e 1) */
    z-index: -1; /* Garante que a div de imagem de fundo fique atrás de outros elementos */
  }
  

  .conteudocarta {
    display: flex;
}

.carta {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-right: 20px;
    width: 200px;
}

.carta img {
    width: 65px;
    height: 65px;
  
    
}

.carta-text {
    margin-bottom: 10px;
}

.fixed-campo {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 4px solid #7cdb52 !important;
    border-radius: 10px;
    outline: none;
}

#aiaiborda{
    border: 4px solid #7cdb52;
    border-radius: 10px;
    height: 350px;
}

#aiaiborda1{
    border: 4px solid #7cdb52;
    border-radius: 10px;
    overflow: hidden;
    
}



.editable {
    pointer-events: none;
    background-color: #616161;
    border: 4px solid #7cdb52 !important;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.281);

}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.edit-button {

    color: #fff;
}

.cancel-button, .save-button {
    display: none;
}

.cancel-button {
  
    color: #fff;
}

.save-button {
 
    color: #fff;
}





