.alinhar{

    position: absolute;
    
    
    }
    
.conteudocarta {
    display: flex; 
    justify-content: center !important;
    margin-top: 30px !important;
    margin-bottom: 40px !important
}

.carta {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-right: 20px;
    width: 200px;
    background-color: #2b3035 !important;
}

.centralizar{
    text-align: center;
}

.carta img {
    width: 65px;
    height: 65px;
  
    
}

.profileImage{  width: 130px !important;
    height: 130px !important;
    margin-top: 60px;
    margin-bottom: 130px;
    border-radius: 100%}

.cartatext{
    margin-bottom: 10px;
}

.fixedcampo {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 4px solid #7cdb52 !important;
    border-radius: 10px;
    outline: none;
}

.aiaiborda{
    border: 4px solid #7cdb52;
    border-radius: 10px;
    height: 350px;
}

.aiaiborda1{
    border: 4px solid #7cdb52;
    border-radius: 10px;
    overflow: hidden;
    
}

.editPhotoButton{display: inline-block;
     margin-top: 186px}

.editable {
    background-color: #616161;
    border: 4px solid #7cdb52 !important;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.281);

}

.buttoncontainer {
    text-align: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.editbutton {

    color: #fff;
}


.cancelbutton {
  
    color: #fff;
}

.savebutton {
 
    color: #fff;
}

.apareceobotaodudu{
    width: 600px;
     height: "492px"; 
     background-color: "#2b3035"
}

@media screen and (max-width: 1700px) {
    .jorge {
        display: flex;
        flex-direction: column-reverse;
        
    }

    .nossomos {
        position: relative;
        width: 100% ;
        margin: 0% !important;
    }

    
}
@media screen and (max-width: 1000px){
    .carouselExampleInterval {
        width: 95% !important;
    }

    .titulo {
        width: 95% !important;
    }
    
}

.botaodohome{
    margin-right: 10px !important;
}

.posição{
    position: relative;
    
  }

  .bodysubistituto{
    display: flex;
     flex-direction: column;
      min-height: 100vh;
       justify-content: space-between;
  }
  
.branco{
    color:white;
    text-decoration: underline;
    font-weight: bold;
}

.titulo{
    text-align: center;
    font-weight: bold;
  
   
    opacity: 1;
    background-color: #2b3035;
    margin:auto;
    border-top: 4px solid #7cdb52;
    border-right: 4px solid #7cdb52;
    border-left: 4px solid #7cdb52;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.carouselExampleInterval{
   
    position: relative;
    overflow: hidden;
    opacity: 1;
    border-bottom: 4px solid #7cdb52;
    border-right: 4px solid #7cdb52;
    border-left: 4px solid #7cdb52;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 499px !important;

}

.tudojunto{
    position: relative;
  

}

.carousel-item{
    transition: transform 0.6s ease; 
}

.carousel-control-prev{
    background: linear-gradient(to right, black 0%, transparent 100%);
    opacity: 0.6;
}
.carousel-control-next{
    background: linear-gradient(to left, black, transparent);
    opacity: 0.6;
}
.verde{
    color:#7cdb52;
    text-decoration: underline;
    font-weight: bold;
}

.ladoalado{
    display: flex;
}

      
.nossomos{ position:absolute;
    width: 17%;
    height: 551px;
    border: solid #7cdb52;
    background-color: #2b3035 !important; 
}

.tamanhonossomos{
    font-size: 50px !important;
}

.conteudocarta{
    font-size: 150%;
    text-align: left;
    font-size: 30px;
}

.sobe{
    margin-top: -200px !important;
}

.chegajunto{
    margin-top: -135px !important;
}
 