.backgroundimage {
    position: fixed; /* Fixa a posição da div na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Faz a imagem cobrir todo o espaço da div */
    opacity: 1 ; /* Define a opacidade da imagem (valor entre 0 e 1) */
    z-index: 0 !important; /* Garante que a div de imagem de fundo fique atrás de outros elementos */
  }
  .posição{
    position: relative;
    
  }

  .bodysubistituto{
    display: flex;
     flex-direction: column;
      min-height: 100vh;
       justify-content: space-between;
  }
  
.branco{
    color:white;
    text-decoration: underline;
    font-weight: bold;
}

.titulo{
    text-align: center;
    font-weight: bold;
  
   
    opacity: 1;
    background-color: #2b3035;
    margin:auto;
    border-top: 4px solid #7cdb52;
    border-right: 4px solid #7cdb52;
    border-left: 4px solid #7cdb52;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.carouselExampleInterval{
   
    position: relative;
    overflow: hidden;
    opacity: 1;
    border-bottom: 4px solid #7cdb52;
    border-right: 4px solid #7cdb52;
    border-left: 4px solid #7cdb52;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 499px !important;

}

.tudojunto{
    position: relative;
  

}

.carousel-item{
    transition: transform 0.6s ease; 
}

.carousel-control-prev{
    background: linear-gradient(to right, black 0%, transparent 100%);
    opacity: 0.6;
}
.carousel-control-next{
    background: linear-gradient(to left, black, transparent);
    opacity: 0.6;
}
.verde{
    color:#7cdb52;
    text-decoration: underline;
    font-weight: bold;
}

.ladoalado{
    display: flex;
}

      
.nossomos{ position:absolute;
    width: 17%;
    height: 551px;
    border: solid #7cdb52;
    background-color: #2b3035 !important; 
}

.tamanhonossomos{
    font-size: 50px !important;
}

.conteudocarta{
    font-size: 150%;
    text-align: left;
    font-size: 30px;
}

.sobesafada{
    margin-top: -200px !important;
}

@media screen and (max-width: 1700px) {
    .jorge {
        display: flex;
        flex-direction: column-reverse;
    }

    .nossomos {
        position: relative;
        width: 100% ;
        margin: 0% !important;
    }

    
}
@media screen and (max-width: 1000px){
    .carouselExampleInterval {
        width: 95% !important;
    }

    .titulo {
        width: 95% !important;
    }
    
}

.botaodohome{
    margin-right: 10px !important;
    
        position: relative; /* ou absolute */
        z-index: 10 !important;       
}