
.about {
    background-color: #2b3035;
    width: 70%;
    justify-content: center;
    align-items: center;
    border: solid 5px #7cdb52;
    border-radius: 30px;
}



.section-title {
    color: #343a40;
  
}
.about img{
    width: 50%;
    border-radius: 3%;
    object-fit: cover;
}

.img-fluid {
    border: 8px solid #fff;
    border-radius: 50%;
}
.background-image {
    position: fixed; /* Fixa a posição da div na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../Imagens/Inicio/fundo-branco-com-folhas-verdes-isoladas-nos-cantos-e-espaco-de-copia-no-meio_373887-273.jpg); /* Insira o caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir todo o espaço da div */
    opacity: 1 ; /* Define a opacidade da imagem (valor entre 0 e 1) */
    z-index: -1; /* Garante que a div de imagem de fundo fique atrás de outros elementos */
  }
  .verde{
    text-decoration: underline;
    color:#7cdb52;
    font-weight: bold;
    font-size:200%
  }
  .branco{
    text-decoration: underline;
    color:#ffffff;
    font-weight: bold;
    font-size:180%

  }
  .texto_sobre{
    font-weight: bold;
    font-size: 30px;
  }

.lead{
  color:#ffffff
}

.centralimage{
text-align:center;
}

.sobe{
    margin-top: 550px !important;
}

.descesafada{
    margin-top: 60px !important;
}